body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  line-height: 1.3em;
  margin: 0;
  padding: 20px;
  color: #17181a;
}

h1 {
  margin: 10px 0 20px;
  font-weight: 400;
}

h3 {
  display: block;
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 10px;
}

p, ul {
  font-size: 14px;
  margin: 0 0 10px;
  display: block;
}


ul {
  list-style: none;
  padding: 0;
}

pre {
  overflow: scroll;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  max-width: 1000px;
}

.main-content {
  width: calc(100% - 210px);
}

.nav-container {
  width: 180px;
}
.nav-container nav {
  position: fixed;
  border: 1px solid #D8D8D8;
  padding: 10px;
  border-radius: 4px;
}

.nav-container nav ul {
  margin: 0;
}
.nav-container nav ul li {
  margin-bottom: 5px;
  display: block;
}
.nav-container nav ul li:last-child {
  margin-bottom: 0;
}

.nav-container nav ul li a{
  font-size: 14px;
  color: #444;
  text-decoration: none;
}

.nav-container nav ul li a:hover {
  color: #000;
  text-decoration: underline;
}


.chapter {
  position: relative;
  margin-bottom: 10px;
  word-break: break-word;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.chapter .anchor {
  position: absolute;
  top: -5px;
}


@media(max-width: 768px) {
  header {
    text-align: center;
  }
  header h1 {
    font-size: 24px;
  }
  .main-content {
    width: 100%;
  }
  .nav-container {
    display: none;
  }
}
